@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

html {
    height: 100%;
}

body {
    background-image: url("retro-living-room-interior-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*-------- --------Media Queray Start------------------------- */
@media screen and (max-width:1048px){
    nav h1{
        font-size: 20px;
    }  
}
@media screen and (max-width:1048px)  {
    .nav-items{
        margin-left: 2rem;
    }
    .nav-item{
        justify-content: space-around;
        font-size: 20px;
    }
    nav h1{
        font-size: 20px;
    }
    }
    @media screen and (max-width:700px)  {
        
        .nav-item{
            justify-content: space-around;
            font-size: 15px;
            margin-left: 1rem;
        }
        nav h1{
            flex:10px;
            font-size: 20px;
        }
        }

        @media screen and (max-width:1048px) {
            .contact p{
                font-size: 15px;
            }
        }
        @media screen and (max-width:1000px)  {
            .title{
                font-size: 40px;
            }
            .info-top{
                align-self: flex-end;
                
            }
           .infocard{
            margin-right: 0%;
           }
           
              
        }
        @media screen and (max-width:700px)  {
            .title{
                font-size: 20px;
            }
            
           .infocard{
            float: right;
           }
            
        }
        @media screen and (max-width:1000px) {
            .bottom{
                flex-direction: column-reverse;
            }
            .btn{
                margin-top: 60px;
            }    
        }
        
        /*----------------- media Queray end------------------ */

        /* ------------------Nav Start------------------------- */

nav h1 {
    font-weight: 600;
    flex: 20;
    font-size: 30px;
    align-self: center;
    color: #ffffff;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    flex: 80;
}

.nav-items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding-bottom: 30px;

    color: #ffffff;
    flex: 65;

    border-bottom: solid #ffffff 2px;
}
/* --------------------------Nav End------------------------------- */

/* ---------------------------Nav Contact Start--------------------- */

.contact {
    display: flex;
    flex: 35;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: solid #ffffff 2px;
    gap: 15px;
}

.contact p  {
    font-size: 25px;
    color: #ffffff;
}
/* --------------------------------Nav Contact End--------------------- */

/* ---------------------------------Main Section Start------------------- */

main {
    padding: 0 50px;
    height: 50%;
}
/* ---------------------------------------Top Start---------------------------- */

.top {
    display: flex;
    margin: 7% 0;
}

.title {
    flex: 75;
    font-size: 80px;
    color: #ffffff;
    
}

.info-top {
    flex: 25;
    align-self: flex-start;
}
/* -----------------------------Top End---------------------------- */

/* ------------------------------Bottom Start----------------------- */


.bottom {
    display: flex;
}

.btn {
    flex: 1;
    align-self: flex-start;
}



.info-bottom {
    flex: 1;
}

.infocard {
    background-color: rgba(209, 209, 209, 0.315);
    width: 160px;
    color: #ffffff;
    padding: 20px 60px;
    position: relative;
}

.infocard p {
    font-size: 20px;
}

.infocard p i {
    background-color: #fff;
    padding: 10px 25px;

    color: #000;
    border-radius: 40px;
    margin-bottom: 15px;
}

.btn a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 50px;
    font-size: 25px;
    border: 3px solid #ffffff;
    border-radius: 50px;
}

.vertical-line{
    width: 2px; 
    background-color: #ffffff; 
    height: 80px;
    position: absolute;

    left: 70%;
    top: 100%;
}

.horizontal-line {
    width: 80px; 
    background-color: #ffffff; 
    height: 2px;
    position: absolute;

    left: 100%;
    top: 50%;
}

.circle {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
}

.circle-top {
    left: calc(70% - 8px);
    top: calc(100% + 80px);
}

.circle-bottom {
    left: calc(100% + 80px);
    top: calc(50% - 8px);
}
/* -------------------------Bottom End---------------------------- */
/* -------------------------Main Section Start------------------- */

